{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	.card{
		max-width: 700px;
	}
	.card-body{
		padding: 20px;
	}
	.delete
	{
	  background-color: #f44336;
	  width: 200px;
	  height: 500px;
	  color: rgb(12, 1, 1);

	}
 
</style>
 
<div class="container  ">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			 <img class="card-img-top" src="{{blog_post.image.url}}">
			<br>
			<font style="color: rgb(22, 21, 21);font-size: x-large;">
			<div class="card-body mt-2 mb-2">
			  <h2 class="card-title"><font style="color: royalblue;">{{blog_post.Equipment_name}}</font></h2>
			  <br>
			  <p class="card-text"><font style="color: rgb(207, 107, 107);">Details:-</font>{{blog_post.detail|safe}}</p>

			  <p class="card-text"><font style="color: rgb(207, 107, 107);">price:-</font>{{blog_post.price}}</p>

			  {% if blog_post.availablity == True %}
			   <p class="card-text"><font style="color: rgb(207, 107, 107);">Avaliblity Of Equipment:-</font>Available</p>
			  {%else%}
			 <p class="card-text"><font style="color: rgb(207, 107, 107);">Avaliblity Of Equipment:</font>-Outofstoke</p>
			  {% endif %}

			   <a href="{% url 'personal:details'  blog_post.author_id  %}" class="btn btn-primary">Back</a> 
			{% comment %} <div class="card-footer text-muted">
			  Updated on {{blog_post.date_updated}} by {{blog_post.author}}
			</div> {% endcomment %}
			</font>

		 
		</div>
	
	</div>
</div>

	

{% endblock content %}



